body {
}

div#mapcontainer div#gamecontainer div#tiledescription {
	border: 10px groove;
	display: inline-block;
}

div#mapcontainer {
	cursor: default;
	line-height: 0px;
}

div#mapcontainer img {
	width: 16px;
	height: 16px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

div#mapcontainer img:hover {
	background: black;
	color: white;
	-moz-box-shadow: 0 0 1px 1px #222 inset;
	-webkit-box-shadow: 0 0 1px 1px#222 inset;
	box-shadow: 0 0 1px 1px #222 inset;
}

div.tile {
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	background: black;
	color: white;
	margin: 0px;
	border: 0px;
	padding: 0px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

div.tile:hover {
	background: black;
	color: white;
	-moz-box-shadow: 0 0 1px 1px #222 inset;
	-webkit-box-shadow: 0 0 1px 1px#222 inset;
	box-shadow: 0 0 1px 1px #222 inset;
}

div.rock {
	background: #77330C;
	color: #88441D;
}

div.empty {
	background: #EEAA30;
	color: #FFDD99;
}
